.app-container {
  display: flex;
}

.content {
  width: 100%;
  background-color: rgb(224, 227, 228);
}
.sidebar {
  min-height: 600px;
}
.post-card {
  margin: 30px 100px;
  min-width: 30rem;
}
.like-button {
  margin: 10px 18px;
}

.delete-icon {
  float: right;
}
.create-post {
  margin-top: 50px;
  margin-left: 50px;
  width: 50%;
}
.right-sidebar {
  float: right;
}
.right-sidebar-msg {
  min-height: 430px;
}
