.app-container {
  display: flex;
  flex-wrap: wrap;
}

.content {
  width: 100%;
  background-color: rgb(224, 227, 228);
}
.sidebar {
  position: fixed;
  margin-top: 62px;
  min-height: 600px;
}
.post-card {
  margin-top: 90px;
  margin-bottom: 0px;
  margin-left: 275px;
  min-width: 35rem;
}
.like-button {
  margin: 10px 18px;
}

.delete-icon {
  float: right;
}
.create-post {
  margin-top: 90px;
  width: 45%;
  margin-left: 275px;
}
.right-sidebar {
  position: fixed;
  top: 64px;
  right: 2px;
  
}
.right-sidebar-msg {
  min-height: 430px;
}


